<?xml version="1.0" encoding="UTF-8" ?>
<Configs>
    <Config key="{Key}"
            type="{Type_FullName}"
            scope="{ScopeType}"
            spawner="{SpawnerType_FullName}"
            bake="{Bake_Count (Only Multiton)}"
            controller="{ControllerType_FullName (Only Custom)}">
        <Binding type="{BindingType1_FullName}"/>
        <Binding type="{BindingType2_FullName}"/>
        <Binding type="{BindingType3_FullName}"/>
    </Config>
</Configs>